<div class="container">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Type in a keyword here or.." aria-label="Search"
            [formControl]="searchField" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-danger">search</button>
    </div>
    <div class="list-group mt-1" *ngIf="mealsList.length != 0">
        <div class="list-group-item" *ngFor='let m of mealsList' [routerLink]='["/meal", m.id]'>
            {{m?.title}}
        </div>
    </div>

    <div class="border border-danger myPopularsDiv" *ngIf="mealsList.length === 0">
        <footer class="text-center text-lg-start bg-light ">
            <div class="h5 text-danger text-center">Choose from our Popular Dishes!</div>
            <div class="list-group">
                <div class="list-group-item" *ngFor='let m of allMeals' [routerLink]='["/meal", m.id]'>
                    <span>
                        {{m?.title}}
                    </span>
                </div>
            </div>
        </footer>
    </div>
</div>